
.container{ /**centers whole page**/
    margin: 0 auto;
    width: 1002px;
}

#header{ /**menu and logo are here**/
    background-color: white;
    width: 1000px;
    height: 130px;
    margin: 2px;
    padding-bottom: 10px;
}

#headerLogo{ /**logo that appears on header**/
    padding-top: 20px; 
    width: 140px;
    height: auto;
}

#menu{
    background-color: white;
    width: 820px; 
    height: 50px;
    margin-top: 58px;
    float: right;
    border-top: 2px solid #d9d9d9;
}


ul{ /**menu text**/
    width: 820px;
    font-family: 'Ubuntu', sans-serif; 
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    float: right; 
    display: flex;
    justify-content: space-between;  
}

li{
    float: left;
}

li a{
    display: block;
    color: rgb(11,41,100);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; 

}

li a:hover{ /** menu link hover state **/
    border-bottom-color: #80bfff; /** turns bottom bar light blue when mouse hovers on link **/
}

.active{
    font-weight: bold;
}

.clear{
    clear: both;
}

#footer{ 
    background-color: white;
    width: 1000px;
    height: 100px;
    margin-top: 2px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #8c8c8c;
    font-size: 12px;
    padding:20px;
}

#footerMenu{
    background-color: white;
    width: 600px; 
    height: 30px;
    margin: 0 auto;
    padding-top: 1px;
    float: right;
}


#footerUl{ /**menu text**/
    font-family: 'Ubuntu', sans-serif; 
    font-size: 10px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    width: 600px;
    height: 35px;
    display: flex;
    justify-content: space-between;    
    float: left; 
}

li.footerLi a{
    border: none;
    padding-bottom: 50px;
    color: rgb(11,41,100);
}

#socialMedia{
    padding-top: 0px; 
    width: 80px;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-right: 10px; 
    background-color: white; 
}

#facebookButton{ 
    padding-top: 0px; 
    width: 25px;
    height: auto;
    padding-top: 0px;
    padding-right: 3px;
}

#twitterButton{ 
    padding-top: 0px; 
    width: 25px;
    height: auto;
}

a {
   text-decoration: none;
}


