#leftVertical{ /** Vertical transparent div **/
    width: 300px;
    height: 400px;
    background-color: rgba(255,255,255,.6); /**sets color to white and transparency without affecting text or image **/
    margin: .5px;
    float: left;
}

h1{ /** Header text "WELCOME" **/
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(11,41,100,.5); /** The fourth "a" value is transparency**/
    }

#Horizontal{ /** Whole horizontal div with background image **/
    width: 1000px;
    height: 400px;
    background-color: white;
    margin: 0.5px;
    background-image: url("../images/buildinginterior.jpg");
}

#imgDiv{ /** Div inside of the transparent div, centers logo image **/
    width: 240px;
    height: 185px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

#homeLogo{
    width: 240px;
    height: auto;
    
}

p{ /** Paragraph text, "Lorem ipsum..." **/
    padding: 20px; 
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(11,41,100,.5);
}
