#body{
    width: 1000px;
    height: 900px;
}

h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(11,41,100,.5); /** The fourth "a" value is transparency**/
    padding-top: 30px;
}


#titleText{
    width: 1000px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    background-image: url("../images/titlebckgnd2.jpg");
}


#leftTitle{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(11,41,100,.5); /** The fourth "a" value is transparency**/
    padding-top: 10px;
}

#mainservices{
	width: 999px;
    height: 300px;
	border-style: solid;
	border-color: white;/** #BBBBBB;**/
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 2px;
	padding-bottom: 20px;
	
}


.miniservices{
	width: 218px;
	height: 510px;
	float: left;
	margin: 17.6px;
	margin-top: 5px;	
	border-style: solid;
	border-width: 2px;
	border-color: #DADEDF; /**white**/
	
}

#construction{
	margin-left: 0px;
	float: left;
}

#landscape{
	margin-right: 0px;
	float: right;
}

#servicesLogo{
	width: 400px;
	height: auto;
	float: right;
	padding: 15px;
}

#leftText{
	width: 400px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

#leftText p{
	font-family: 'Ubuntu', sans-serif;
	color: #707C80;
	line-height: 28px;
	
}

#leftText h1{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: rgba(11,41,100,.5);
}


.miniservices img{	
	width: 200px;
	height: auto;
	margin: 0px;
	padding-top: 20px;
	margin-left: 10px;
}

.miniservices h2{
	font-family: 'Ubuntu', sans-serif;
	margin: 10px;
	text-align: center; 
	color: rgba(11,41,100,.5);
}

.miniservices p {
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	color: #707C80;
	line-height: 28px;
	padding-bottom: 20px;
}
